
@{
    ViewData["Title"] = "Index";
}
@section addCSS{
    <link href="~/css/WeatherStyle.css" rel="stylesheet" />
}
@model List<WeatherModel>


<div>
    <a href="/Home" class="btn btn-success btn-block">Go To Homepage</a>
</div>
    <div class="container">
    
    <div class="card weather-c col-lg-8 col-md-10 col-sm-12">
        <div class="search">
            <input type="text" placeholder="sehir adı gir" spellcheck="false">
            <button> <img src="~/img/search.png"></button>
        </div>
        <div class="weather">
            <img src="https://openweathermap.org/img/wn/10d@2x.png" class="weather icon">
            <h1 class="temp">15°c</h1>
            <h2 class="city">Los Angeles</h2>
            <div class="details">
                <div class="col">
                    <img src="img/nemli.png" alt="">
                    <p class="nem">%50</p> <br>
                    <p>Nem</p>
                </div>
                <div class="col">
                    <img src="img/rüzgarlı.png" alt="">
                    <p class="rüzgar">15km/h</p>
                    <p>Rüzgar</p>
                </div>
            </div>
        </div>
    </div>

    </div>
<div class="container ">
    <div class="row justify-content-center">

        @foreach (var app in Model)
        {

            <div class="col-lg-3 col-md-4 col-sm-6">

                <div class="card weather-c" style="background-color: dimgrey">

                    <div class="weather">
                        @{
                            var str = "https://openweathermap.org/img/wn/" + app.Weather.FirstOrDefault().Icon + "@2x.png";
                        }
                        <img src="@str" class="weather icon">
                        <h1 class="temp">@{
                                var a = app.Main.Temp - 273.15;
                                app.Main.Temp = a;
                            } @app.Main.Temp.ToString("0.00")
                        </h1>
                        <h2 class="city">@app.Name</h2>
                        <div class="details">
                            <div class="col">
                                <img src="\img\nemli.png" alt="">
                                <p class="nem"> %@app.Main.Humidity</p> <br>
                                <p>Nem</p>
                            </div>
                            <div class="col">
                                <img src="\img\rüzgarlı.png" alt="">
                                <p class="rüzgar">@app.Wind.Speed km/h</p>
                                <p>Rüzgar</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
           
        }

        



    </div>
</div>

<script>


    const apiKey = "1e1652b4565d15738155d3020febd4b1";
    const apiUrl = "https://api.openweathermap.org/data/2.5/weather?q=";

    const searchBox = document.querySelector(".search input")
    const searchBtn = document.querySelector(".search button")
    const weatherIcon = document.querySelector(".weather .icon")

    async function checkWeather(city) {

        const response = await fetch(apiUrl + city + '&appid=' + apiKey);
        var data = await response.json();



        console.log(data);
        document.querySelector(".city").innerHTML = data.name;
        document.querySelector(".temp").innerHTML = Math.round(data.main.temp - 273.15) + "°c";
        document.querySelector(".nem").innerHTML = data.main.humidity + "%";
        document.querySelector(".rüzgar").innerHTML = data.wind.speed + "km/h";
        
        console.log(data.weather[0].icon)
        weatherIcon.setAttribute("src", "https://openweathermap.org/img/wn/" + data.weather[0].icon + "@@2x.png");




        //if (data.weather[0].main == "Clouds") {
           
        //} else if (data.weather[0].main == "Clear") {
        //    weatherIcon.src = "img/günesli.png"
        //} else if (data.weather[0].main == "Rain") {
        //    weatherIcon.src = "img/yağmurlu.png"
        //} else if (data.weather[0].main == "Drizzle") {
        //    weatherIcon.src = "img/hafifyagmur.png"
        //} else if (data.weather[0].main == "Snow") {
        //    weatherIcon.src = "img/karlı.png"
        //} else if (data.weather[0].main == "Mist") {
        //    weatherIcon.src = "img/sisli.png"
        //}

        document.querySelector(".weather").style.display = "block";

    }
    searchBtn.addEventListener("click", () => {
        checkWeather(searchBox.value);
    })



</script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>



