@{
    ViewData["Title"] = "Index";
}

@section ADDCss{
    <link href="~/css/RQuotesStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

}

<div class="wrapper">

    <header>Random Quotes</header>
    <div class="content">
        <div class="quote-area">
            <i class="fa fa-quote-left"></i>
            <p class="quote">If you are working on something that you really care about, you don’t have to be pushed. The vision pulls you.</p>
            <i class="fa fa-quote-right"></i>
        </div>
        <div class="author">
            <span>___</span>
            <span class="name">Steve Jobs</span>
        </div>
    </div>
    <div class="buttons">
        <div class="features">
            <ul>
                <li class="sound"><i class="fa fa-volume-up"></i></li>
                <li class="copy"><i class="fa fa-copy"></i></li>
                <li class="twitter"><i class="fa fa-twitter"></i></li>
                
            </ul>

            <button class="button">New Quote</button>
        </div>

    </div>

</div>

<script>
    var apiUrl = "https://api.quotable.io/random";

    const quoteText = document.querySelector(".quote");
    const authorName = document.querySelector(".author .name");
    const quoteBtn = document.querySelector(".button");
    const soundBtn = document.querySelector(".sound");
    const copyBtn = document.querySelector(".copy");
    const tweetBtn = document.querySelector(".twitter");

    async function randomQuote(jsonData) {

       const response = await fetch(apiUrl);
       var data = await response.json();

        console.log(data);


        quoteText.innerHTML = data.content;
        authorName.innerHTML = data.author;


    }

    quoteBtn.addEventListener("click", randomQuote);

    soundBtn.addEventListener("click",()=>{
        var quotee = quoteText.innerHTML + "by" + authorName.innerHTML;
        let utterance = new SpeechSynthesisUtterance(quotee);
        speechSynthesis.speak(utterance);
    })
  
    copyBtn.addEventListener("click",()=>{
        navigator.clipboard.writeText(quoteText.innerHTML);
    })

    tweetBtn.addEventListener("click",()=>{
        let tweetUrl = 'https://twitter.com/intent/tweet?url='+quoteText.innerHTML;
        window.open(tweetUrl,"_blank");
    })

</script>

